.startAnalysis {
  position: absolute;
  min-width: 90px;
  border: 1px solid rgb(187, 187, 187);
  background: transparent;
  color: rgb(187, 187, 187);
  border-radius: 4px;
  bottom: 315px;
  left: 301px;
  cursor: pointer;
  padding: 5px 10px;

  &:active {
    background: rgb(165, 43, 67);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background: crimson;
    color: white;
    border: 1px solid crimson;
  }
}

.startButtonText {
  font-size: 15px;
  position: absolute;
  left: 5px;
  bottom: -12px;
}
