.startAnalysis {
  position: absolute;
  border: none;
  background: transparent;
  color: white;
  bottom: 225px;
  left: 20px;
  cursor: pointer;

  &:active {
    scale: 0.9;
  }
}

.startButtonText {
  font-size: 15px;
  position: absolute;
  left: 5px;
  bottom: -12px;
}
