.resetButton {
  position: absolute;
  min-width: 90px;
  border: 1px solid rgb(187, 187, 187);
  background: none;
  padding: 5px 10px;
  border-radius: 4px;
  bottom: 315px;
  left: 410px;
  color: rgb(187, 187, 187);
  cursor: pointer;

  &:hover {
    background: crimson;
    color: white;
    border: 1px solid crimson;
  }
  &:active {
    background: rgb(165, 43, 67);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.resetButtonText {
  font-size: 15px;
  position: absolute;
  left: 0px;
  bottom: -10px;
}
